<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>www.zero-to-hero.dev</title>
    <style>
      .field{ width: 180px; }
    </style>
  </head>
  <body>
    <h1>Add user</h1>
    <form action="" method="POST">
      <label for="">Name</label>
      <input type="text" name="name" class="field" /><br />
      <label for="">Age</label>
      <input
        type="number"
        name="age"
        id=""
        class="field"
        min="1"
        max="120"
      /><br /><br />
      <input type="submit" value="Send">
    </form>
    <a href="/">Back to user list</a>
  </body>
</html>